###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=042503337947cf4773cd35cbcd0f9ca4
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###

MESSENGER_TRANSPORT_DSN=amqp://rabbit:rabbit123@rabbitmq:5672/%2f/messages

REDIS_HOST=redis
REDIS_PORT=6379

SEARCH_API=https://api.github.com/search/code?q=

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
